<h3>New post</h3>
<form action='/create_post' method="POST">
    <label for="title">Title</label>
    <input type="text" id ="title" name="title" placeholder="Escribe el título aquí">
    <hr>
    <label for="text">Text</label>
    <textarea id ="text" name="text" rows="10" cols="40" placeholder="Escribe el texto aquí"></textarea>
    <hr>
    <label for="author">Author</label>
    <input type="text" id ="author" name="author" placeholder="Escribe el título aquí">
    <hr>
    <label for="category">Category</label>
    <input type="text" id ="category" name="category" placeholder="Escribe el título aquí">
    <hr>
    <button type="submit">New post</button>
</form>