<!-- Este html se repite en todas nuestras páginas -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CALCULADORA</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <%= yield %> <!-- aqui es donde van el resto de vistas(views) -->
</body>
</html>