<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Log in</title>
</head>
<body>
	<form id="formCalculator" action="/calculate" method="POST">
        <label for="firstNumber">First Number</label>
        <input type="number" id ="firstNumber" name="firstNumber" placeholder="Primer número" value="<%=@value%>">
        <label for="secondNumber"> Second Number</label>
        <input type="number" id ="secondNumber" name="secondNumber" placeholder="Segundo número">
        <button type="submit" name="operation" value="addition">ADD</button>
        <button type="submit" name="operation" value="subtract">SUBTRACT</button>
        <button type="submit" name="operation" value="multiply">MULTIPLY</button>
        <button type="submit" name="operation" value="divide">DIVIDE</button>
    </form>
</body>
</html>